@font-face {
	font-family: "GothamLight";
	src: url('../fonts/dfthacks/Gotham-Light.otf');
}

@font-face {
	font-family: "GothamNarrowLight";
	src: url('../fonts/dfthacks/Gotham-Narrow-Light.otf');
}

@font-face {
	font-family: "GothamThin";
	src: url('../fonts/dfthacks/Gotham-Thin.otf');
}

@font-face {
	font-family: "GothamLightRegular";
	src: url('../fonts/dfthacks/GothamLight-Regular.otf');
}

@font-face {
	font-family: "GothamBold";
	src: url('../fonts/dfthacks/Gotham-Black.otf');
}

body { 
	background-image: url(../img-sarah/background-dft.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
}

#object{
	visibility:hidden;
}

.wrapper {
	margin:0 auto;
	padding:0 10px;
	width: 940px;
}

.wrapper2 {
	margin:0 auto;
	padding:0 10px;
	width: 1050px;
}

.clear{
	clear:both;
}

li a{
	font-family: "GothamThin";
	color: #FFFFFF;
	text-decoration: none;
	text-align:left;
	text-shadow: -1px 0px 10px rgba(255, 255, 255, 0.76);
}

a {
	text-decoration: none;
	color: #ffffff;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 20px;
}

li {
	display:inline;
	font-family: "GothamLight";
	font-size: 25px;
	margin-top:15px;

}

header li a{
	color: #FFFFFF;
	text-decoration: none;
	text-align:center;
}

header li a:hover {
  	background: -webkit-linear-gradient(#00c0ff, #0be1a2);
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.polygon{
	display:block;
	text-align:center;
	margin: 0 auto;
	width: 1000px;
	margin-left:-30px;
}

#invite{
	display:block;
	text-align:center;
	margin: 0 auto;
	margin-top:60px;
}

h1{
	font-family:"GothamLight";
	font-size:25px;
	color: #FFFFFF;
	text-shadow: 2px 2px 10px #000000;
	margin:auto;
	padding: auto;
	line-height:50px;
	margin-bottom: 5px;
}

h2{
	font-family:"GothamLight";
	font-size:25px;
	color: #0BE1A2;
	text-shadow: 3px 3px 10px #000000;
	margin:auto;
	padding: auto;
	line-height:50px;
	margin-bottom: 0px;
}

p{
	font-family:"GothamLight";
	font-size:18px;
	color: #6c7d8e;
	text-shadow: 4px 4px 10px #000000;
	line-height: 40px;
	margin-bottom: 15px;
}


li h3{
	font-family:"Gothamlight";
	font-size:16px;
	color:#0be1a2;
	text-shadow: 5px 5px 5px #000000;
	margin-bottom: 20px;
}

li h4{
	font-family:"GothamLight";
	font-size:16px;
	color:#6c7d8e;
	text-shadow: 5px 5px 5px #000000;
	margin-bottom: 20px;
}

span {
	color:#0be1a2;
	text-decoration:underline;
}

header {
	height: 120px;
}

header h1{
	float:left;
}

header img{
	height: 60px;
	margin-left:20px;
	margin-top:20px;
	text-shadow: 5px 5px 5px #000000;
}


header nav {
	float:right;
}

header nav ul li{
	float:left;
	display: inline-block;
	margin-right:30px;
}

header h1.color{
	color:white;
} 

.logo-image{
	display:block;
	text-align:center;
	margin: 0 auto;
	margin-top: 230px;
	margin-left:130px;
}

.button-1{
	display:block;
	text-align:center;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 230px;
}

#about{
	padding: 60px 0;
}

#video-1{
	text-align:center;
	margin:10px;
	float:left;
	overflow: hidden;
	border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #0be1a2 0%, #00c0ff 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #0be1a2 0%, #00c0ff 100%);
  border-image: linear-gradient(to right, #0be1a2 0%, #00c0ff 100%);
  border-image-slice: 1;
  
}

#video-2{
	text-align:center;
	margin:10px;
	float:right;
	overflow: hidden;
	border: 3px solid transparent;
	-moz-border-image: -moz-linear-gradient(left, #00c0ff 0%, #0be1a2 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #00c0ff 0%, #0be1a2 100%);
  border-image: linear-gradient(to right, #00c0ff 0%, #0be1a2 100%);
  border-image-slice: 1;
}

#apply{
	padding: 60px 0;
	text-align: left;
}

/*table {
	padding:2px;
}

table tr td {
	padding:15px;
	vertical-align: top;
	border: 6px solid transparent;
	-webkit-border-radius:10px;
	-moz-border-image: -moz-linear-gradient(left, #00c0ff 0%, #0be1a2 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #00c0ff 0%, #0be1a2 100%);
  border-image: linear-gradient(to right, #00c0ff 0%, #0be1a2 100%);
  border-image-slice: 1;
}

#faq h2{
	font-family:GothamLight;
	font-size: 21px;
	font: #0be1a2;
	padding-top:10px;
	line-height: 28px;
	text-shadow: 5px 5px 5px #000000;
}*/

#press ul {
	margin: 40px 0;
	margin-top:120px;
	margin-bottom:0px;
	text-shadow: 3px 3px 5px #000000;
}

#press ul li {
	width: 320px;
	padding-top: 140px;
	float: left;
	margin-right: 10px;
	margin-left:10px;
	text-align: center;
	text-shadow: 3px 3px 5px #000000;
}

#press h3{
	font-family:"GothamLight";
	font-size: 22px;
	font:#ffffff;
	padding-top:15px;
	text-shadow: 3px 3px 5px #000000;
	text-align: center;
}

#press h4{
	font-family:"GothamLight";
	font-size:18px;
	padding:2px;
	line-height: 24px;
	text-shadow: 3px 3px 5px #000000;
}

#press ul li.feature-1 {
	background: url('../img-sarah/forbes-logo.png') no-repeat top center;
}

#press ul li.feature-2 {
	background: url('../img-sarah/err-logo.png') no-repeat top center;
}

#press ul li.feature-3 {
	background: url('../img-sarah/smartrail-logo.png') no-repeat top center;
}

#press ul li.feature-4 {
	background: url('../img-sarah/irj-logo.png') no-repeat top center;
}

#press ul li.feature-5 {
	background: url('../img-sarah/railway-news-logo.png') no-repeat top center;
}

.cd-faq li a:hover {
  	background: -webkit-linear-gradient(#00c0ff, #0be1a2);
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-2 {
	display: block;
	margin: 30px;
	text-align: center;
}

#footer {
	padding: 60px 0;
	text-align: center;
}

#footer-contact p {
	font-size:16px;
	text-shadow: 5px 5px 5px #000000;
	font:#0be1a2;
}

#footer-contact h1 {
	font-size:25px;
	display: block;
	margin: 0 auto 20px auto;
	width: 400px;
	line-height: 22px;
	text-shadow: 5px 5px 5px #000000;
}

footer ul li{
	display:inline;
	list-style:none;
	margin:25px;
}

#footer-socialmedia{
	margin-bottom: 70px;
	margin-top:50px;
}

#footer-line{
	display:block;
	text-align:center;
	margin: 0 auto;
	width: 1000px;
	margin-left:-30px;
}

#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    background: -webkit-linear-gradient(#00c0ff, #0be1a2);
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 25px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}


