@font-face {
	font-family: GothamLight;
	src: url('fonts/dfthacks/Gotham-Light.otf');
}

@font-face {
	font-family: GothamNarrowLight;
	src: url('fonts/dfthacks/Gotham-Narrow-Light.otf');
}

@font-face {
	font-family: GothamThin;
	src: url('fonts/dfthacks/Gotham-Thin.otf');
}

@font-face {
	font-family: GothamLightRegular;
	src: url('fonts/dfthacks/GothamLight-Regular.otf');
}

@font-face {
	font-family: GothamBold;
	src: url('fonts/dfthacks/Gotham-Black.otf');
}

body { 
	background-image: url(../img-sarah/background-dft.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
}

.wrapper {
	margin-left: 250px;
	margin-right: 250px;

}

a {
	text-decoration: none;
	color: #ffffff;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 20px;
}

li {
	display:inline;
	font-family: GothamLight;
	font-size: 25px;
	margin-top:10px;
}

li a{
	color: #FFFFFF;
	text-decoration: none;
	text-align:center;
}

li a:hover {
  	background: -webkit-linear-gradient(#00c0ff, #0be1a2);
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-image{
	display:block;
	text-align:center;
	margin: 0 auto;
	margin-top: 200px;
}

.button-1{
	display:block;
	text-align:center;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 200px;
}

.polygon{
	display:block;
	text-align:center;
	margin: 0 auto;
	width: 1000px;
}

#invite{
	display:block;
	text-align:center;
	margin: 0 auto;
}

h2{
	font-family:GothamLight;
	font-size:30px;
	color: #0BE1A2;
	text-shadow: 5px 5px 5px #000000;
	margin:auto;
	padding: auto;
	line-height:50px;
	margin-bottom: 20px;
}

p{
	font-family:GothamLight;
	font-size:20px;
	color: #ffffff;
	text-shadow: 5px 5px 5px #000000;
	line-height: 55px;
	margin-bottom: 20px;
}

li h3{
	font-family:GothamNarrowlight;
	font-size:25px;
	color:#0be1a2;
	text-shadow: 5px 5px 5px #000000;
	margin-bottom: 20px;
}

li h4{
	font-family:GothamNarrowLight;
	font-size:15px;
	color:#0be1a2;
	text-shadow: 5px 5px 5px #000000;
	margin-bottom: 20px;
}

span {
	font-family:GothamBold;
}

header {
	height: 120px;
}

header h1{
	float:left;
}

header img{
	height: 60px;
	margin-left:20px;
	margin-top:20px;
}


header nav {
	float:right;
}

header nav ul li{
	float:left;
	display: inline-block;
	margin-right:30px;
}

header h1.color{
	color:white;
}
